*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  "Fira Sans", serif;
}
.main_contaner{
    width: 100%;
    height: auto;
}
.Academic_title{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(54, 51, 51, 0.7), rgba(46, 43, 43, 0.7)),url(image/campus-6841791_1920.jpg);
    background-position: center;
    background-size: cover;
    align-items: center;
    display: flex;
    justify-content: center;
}
.Academic_title h1{
    align-items: center;
    font-size: 60px;
    color: white;
}
.Academic_name{
    width: 100%;
    height: 100vh;
    padding: 1% 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    background-color:#f5f6f8;
    
}
.corse_box{
    width: 340px;
    height:240px;
    background-color: white;
    border: 1px solid #ccc;

}
.Part1{
    width: 100%;
    height: 84%;
    /* background-color: blue; */
    display: flex;
    color: #154c69;
    font-size: 44px;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* padding: 10% 0%; */
}
.Part2{
    width: 100%;
    height: 16%;
    background-color: white;
}
.Part2 button{
    width: 150px;
    height: 100%;
    float: right;
    border: 1px solid #ca132f;
    color: #ca132f;
    transition: 0.4s;
}
.Part2 button:hover{
    color: white;
    background-color: #ca132f;
}
.Academic_option{
    width: 100%;
    height: 100vh;
    padding: 0% 4%;
    
}
.acadic_title{
    width: 100%;
    height: auto;
}
.acadic_title h1{
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    color: #0f4d67;
}
.option_academic{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    /* gap: 25px; */
}
.Option_box{
    width: 33%;
    height: 303px;
    /* background-color: red; */
    border: 1px solid #87acbb;

}
.Option_box p{
    letter-spacing: normal;
    vertical-align: baseline;
    color: #39607d;
    padding: 10%;
}