body h1{
    text-align: center;
    background-color: red;

}
#form{
    text-align: center;
}
#form #button{
    background-color: red;
    color: white;
    width: 100px;
    height: 30px;
    font-weight: bold;
    font-size: 15px;
}
