* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: linear-gradient(rgba(54, 51, 51, 0.7), rgba(46, 43, 43, 0.7)),url(campus-6841791_1920.jpg);
    color: #ffffff;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    align-items: center;
    display: flex;
    justify-content: center;

}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.left-section {
    background: rgba(0, 0, 0, 0.7);
    padding: 40px;
    width: 40%;
    border-radius: 8px 0 0 8px;
    position: relative;
}



.left-section h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.contact-info {
    margin-top: 20px;
}

.info-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.info-item img {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

.info-item h4 {
    font-size: 18px;
    color: red;
}

.info-item p {
    font-size: 14px;
    color: #ccc;
}

.right-section {
    background: rgba(0, 0, 0, 0.7);
    padding: 23px;
    width: 40%;
    border-radius: 0px 8px 8px 0px;
    position: relative;
}

.right-section h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

form input, form textarea {
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

form textarea {
    height: 100px;
    background: rgba(0, 0, 0, 0.7);
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    background: red;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background: red;
}

/* Responsive Design */
@media (max-width: 900px) {
    .contact-container {
        flex-direction: column;
        height: auto;
    }

    .left-section, .right-section{
        width: 100%;
        border-radius: 8px;
    }
    

    .responsive-tag {
        top: 10px;
        left: -30px;
    }
}